.tabs {
    border: 1px solid #ccc;
    display: flex;
    height: 85%;
}
.sidebar {
    width: 125px;
    flex-shrink: 0;
    background: #ccc;
}
.tab-button {
    display: block;
    padding: 10opx;
    background: #eee;
    width: 100%;
    outline: none;
    cursor: pointer;
    border: none;
    margin-bottom: 2px;
}
.tab-button:active {
    background: #ddd;

}
.tab-button:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
}
.tab-button--active {
    font-weight: bold;
    border-right: 2px solid green;
    background: #ddd;
}
.tab-content {
    padding: 15px;
    font-size: 0,8rem;
    display: none;
}
.tab-content--active {
    display: block;
}